<!-- Modal -->
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

    input[type=number] {-moz-appearance: textfield;}
</style>

<div class="modal fade" id="pagamento_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <h5 class="modal-title">Puppy - Pagamento</h5>
            </div>
            <div class="modal-body">

                <form action="{{ url_for('pagamento')}}" method="POST" class="text-left">

                    <!-- Input Nome -->
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input required type="text" name="nome" id="nome" class="form-control" placeholder="Seu nome">
                    </div>

                    <!-- Input Type -->
                    <!-- Input Country -->
                    <!-- Input Incrementar o tipo individual e não corporativo na rota de POST  -->

                    <!-- Input Tel/Celular --> 
                    <div class="form-group">
                        <label for="numero_contato">Telefone para contato</label>
                        <input type="number" name="numero_contato" id="numero_contato" class="form-control" placeholder="Digite o ddd e número para contato sem espaço e hífen(-)">
                    </div>

                    <!-- Input Email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input required type="email" name="email" id="email" class="form-control" placeholder="E-mail para contato">
                    </div>

                    <!-- Input CPF -->
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input required pattern="[0-9]{11}" type="text" name="cpf" id="cpf" class="form-control" placeholder="Digite seu CPF sem espaços e hífen(-)">
                    </div>


                    <!-- Escolha dos items de compra -->
                    <div class="form-group">
                        <label for="">Opção de compra</label>
                        <select class="form-control" name="item_compra">
                            <option value="Banho valor=4000">Banho = R$ 40</option>
                            <option value="Tosa valor=3000">Tosa = R$ 30</option>
                            <option value="Banho + tosa valor=5500">Banho + Tosas = R$ 55</option>
                        </select>
                    </div>

                    <!-- Abas da forma de pagamento "credito/débito/boleto" -->
                    <span>Forma de pagamento</span>
                    <ul class="nav nav-tabs mt-3" id="pagamento" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="credito-tab" data-toggle="tab" href="#tab_credito" role="tab" aria-controls="credito" aria-selected="true">Crédito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="debito-tab" data-toggle="tab" href="#tab_debito" role="tab" aria-controls="debito" aria-selected="false">Débito</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pagamentoContent">
                        <div class="tab-pane fade show active" id="tab_credito" role="tabpanel"
                            aria-labelledby="credito-tab">
                            <!-- Input Credito -->
                            <!-- <div class="form-group"> -->
                                <!-- Input dados do Cartão -->
                                    <input required  min="16"  type="number" name="credito" id="input_credito" class="form-control" placeholder="Digite o número de seu cartão de crédito sem espaço" oninput="check_input()">
                                    <input  min="3" type="number" class="form-control" name="credito_cvv" id="input_credito_cvv" placeholder='Digite código de verificação do cartão "CVV"' oninput="check_input()">
                                    <input  type="text" class="form-control" name="credito_input_credito_titular" id="input_credito_titular" placeholder="Digite o nome do titular que consta na frente do cartão" oninput="check_input()">
                                    
                                    <div class="form-group mt-1">
                                        <label for="">Opção de parcelamento</label>
                                        <select class="form-control" name="credito_parcela">
                                            <option value="1">1x Vez</option>
                                            <option value="2">2x Vez</option>
                                            <option value="3">3x Vez</option>
                                            <option value="4">4x Vez</option>
                                            <option value="5">5x Vez</option>
                                        </select>
                                    </div>
                                    
                                    <label for="input_credito_data_expiracao mt-1">Data de expiração do cartão</label>
                                    <input  min="2020-05-15" max="2030-12-31" type="date" class="form-control" name="credito_data_expiracao" id="input_credito_data_expiracao" oninput="check_input()">
                            <!-- </div> -->
                        </div>

                        <div class="tab-pane fade" id="tab_debito" role="tabpanel" aria-labelledby="debito-tab">
                            <!-- Input Débito -->
                            <div class="form-group">
                                <!-- Input Nº Cartão -->
                                <input oninput="check_input()" minlength="16" maxlength="16" type="number" name="debito" id="input_debito" class="form-control" placeholder="Digite o número de seu cartão de débito sem espaço">
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button  type="submit" class="btn btn-primary">Pagar</button>
                    </div>
                </form>


            </div>


        </div>
    </div>
</div>