<table class="table table-bordered table-hover my-2">
    <thead>
        <span class="mb-2">
            Histórico de pagamentos
        </span>
        <tr class="thead-dark">
            <th>ID Transação</th>
            <th>Nome</th>
            <th>Forma de pagamento</th>
            <th>E-mail</th>
            <th>Valor da compra</th>
        </tr>
    </thead>
    <tbody>
        {% for pagamento in lista_pagamentos %}
        <tr>
            <td>{{ pagamento.id }}</td>
            <td> {{ pagamento.name }} </td>
            <td> {{ pagamento.pagamento }} </td>
            <td> {{ pagamento.email }} </td>
            <td>R$ {{ pagamento.preco }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>